td, th
{
	border: 1px solid black;
	text-align: center;
	padding: 5px;
	border-spacing: 3px 3px;
}
td.first
{
	width: 25px;
	height: 25px;
}
td.second
{
	text-align: left;
}
td.third
{
	text-align: left;
}