html, body { height: 100%; margin: 0;}
.layout {
	height: 100%;}
.col1 {
   	background: #00ffff;
   	width: 100px;
   	height: 100%;
   	float: left;}
.col2 {
   	background: #0000ff;
   	width: 50%;
   	height: 100%;
   	float: right;}
.col3 {
   	background: #000080;
   	width: 50%;
   	height: 100%;}